streamlit
transformers
PyPDF2
python-pptx
PyMuPDF
openai
transformers
sentencepiece
elevenlabs
moviepy==2.2.1
proglog
google-genai
soundfile
coqui-tts
torch
torchvision
torchaudio
playwright
git+https://github.com/elloza/pptx2pdfwasm.git#egg=pptx2pdfwasm
# chatterbox-tts
# python -m pip install llama-cpp-python --prefer-binary --extra-index-url=https://jllllll.github.io/llama-cpp-python-cuBLAS-wheels/AVX2/cu117
# outetts
# Pytorch
# Web
# sphinxcontrib-googleanalytics