streamlit
PyPDF2
python-pptx
PyMuPDF
openai
transformers
sentencepiece
elevenlabs
moviepy
proglog
google-genai
soundfile
coqui-tts
torch
torchvision
torchaudio
playwright
git+https://github.com/elloza/pptx2pdfwasm.git#egg=pptx2pdfwasm
# Pytorch
# Web
# sphinxcontrib-googleanalytics