streamlit
PyPDF2
python-pptx
PyMuPDF
openai
transformers
sentencepiece
elevenlabs
moviepy
proglog
google-genai
soundfile
coqui-tts
torch
torchvision
torchaudio
# Pytorch
# Web
# sphinxcontrib-googleanalytics